/**
 * Selections
**/
::selection{ background: @highlight; color: @claro; }
::-moz-selection { background: @highlight; color: @claro; }


/**
 * Box sizing
**/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
